main {
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 12px;
}

@media screen and (max-width: 1400px) {
    main {
        gap: 4px;
    }
}